.Track {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  background-color: #fafafa;
}

.Track-information {
  flex-grow: 1;
}

.Track-information h3,
.Track-information p {
  margin: 0;
}

.Track-action {
  padding: 10px;
  margin-left: 20px;
  background-color: #1db954;
  color: white;
  border: none;
  cursor: pointer;
}

.Track-action:hover {
  background-color: #1ed760;
}
