body{
  background-color: rgb(102, 209, 129);
}
.App{
  text-align: center;
  
}
.Results{
  display: grid;
  grid-template-columns: 50% 0% 50%;
  position: relative;
  height: 600px;

}
.Vr{
  border-right: solid black;
  width: 1px;
  height: calc(100% - 100px);
  position: relative;
  top:100px
}