.Playlist{
  text-align: left;

}
.Playlist h2{
  text-align: center;
}
.Input{
  display: flex;
  align-items: center;
  width: fit-content;
  margin: 0 auto;
  height: 100px;
}
.Button-container{
  width: fit-content;
  margin: 0 auto;
}
.Input input{
  font-size: 20px;
  margin: 0;
  border-radius: 5px;
  padding: 5px;
  border: none;
  border: 1px solid green;
}
.Playlist-save{
  margin-top: 10px;
  background: linear-gradient(to bottom, #34db34, #29b929);
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  border: 1px solid green;
  border-radius:5px;
  margin-left: 5px;
  padding: 5px;
  transition: background 0.3s, transform 0.2s, box-shadow 0.3s;
  cursor: pointer;
}
.Playlist-save:hover{
  background: linear-gradient(to bottom, #29b971, #34db6e);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}