.Playlist{
  text-align: left;

}
.Playlist h2{
  text-align: center;
}
.Input{
  display: flex;
  align-items: center;
  width: fit-content;
  margin: 0 auto;
  height: 100px;
}
.Button-container{
  width: fit-content;
  margin: 0 auto;
}
.Input input{
  font-size: 20px;
  margin: 0;
  border-radius: 5px;
  padding: 5px;
}